// inclusione font
@import 'node_modules/@fontsource/roboto/index.css';

//regole generali
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial;
}

.container{
    padding: 10px;
    width: 90%;
    margin: 0 auto;
}

body{
    background-color: rgba(0,0,0,0.6);
}

ul li{
    list-style-type: none;
    padding: 5px 0;
}

.cards{
    height: 300px;
        width: calc(100% / 5 - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border: 1px dashed white;
    overflow-y: auto;
}

.default {
    background-image: url('path/to/default-flag.png');
    width: 20px;
    height: 15px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}